{
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "react/jsx-props-no-spreading": ["off"],
    "react-hooks/exhaustive-deps": "warn"
  }
}
