/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@use 'sass:map';

// see https://bootswatch.com/
@import '~bootswatch/dist/lux/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/lux/bootswatch';

$solgreen: #14f195;

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: darkgray;
  --white-color: lightgray;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

.text {
  &-solgreen {
      color: $solgreen;
  }
}

@mixin inline-code() {
  font-family: $font-family-code;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  background-color: $gray-200;
  font-weight: 500;
  color: $body-color;
  border: 1px solid $gray-400;
}

code {
  @include inline-code;
}

pre code {
  background-color: $white;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
.navbar,
.btn {
  text-transform: none;
  box-shadow: none !important;
}

// TODO: When using lux bootswatch, the .navbar padding-top and padding-bottom is too massive
.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.btn {
  border-radius: 1rem;
  margin: 5px;
  font-size: 1rem;
  &-sm {
      font-size: 0.8rem;
      border-radius: 1rem;
  }
}

.page-content {
  position: fixed;
  top: 25px;
  left: 70px;
  padding-right: 100px;
  scroll-behavior: auto;
  bottom: 15px;
}

.icon {
  &-interactive {
    // next two lines copied from bootstrap
    // p-1 and rounded classes
    border-radius: 0.25rem !important;
    padding: 0.25rem !important;
    &:hover {
      background-color: $gray-200;
    }
    cursor: pointer;
  }
}

.almost-vh-100 {
  height: 100%;
}
.almost-vh-80 {
  height: 80%;
}
.almost-vh-20 {
  height: 20%;
}

.l-navbar {
  position: fixed;
  top: 70px;
  left: 0px;
  width: 60px;
  background-color: white !important; // TODO: figure this out
  transition: 0.5s;
  z-index: var(--z-fixed);
  padding: 0rem 0rem;
}

.l-navbar .nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  column-gap: 0.2rem;
}

.l-navbar .nav_logo,
.l-navbar .nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0rem 0rem 0rem 0.8rem;
}

.l-navbar .nav_logo {
  margin-bottom: 2rem;
}

.l-navbar .nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.l-navbar .nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.l-navbar .nav-link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.l-navbar .nav-link:hover {
  color: var(--white-color);
}

.l-navbar .nav_icon {
  font-size: 1.25rem;
}

.l-navbar .nav-link.active {
  color: black;
}

#l-navbar-dropdown {
  margin: 0rem;
  padding: 0rem;
  border-radius: 0rem;
  box-shadow: none;
}

.bg {
  &-lightblue {
    background-color: $blue-100;
  }
}

.border-top {
  border-top: 1px solid #eceeef;
}
.border-left {
  border-left: 1px solid #eceeef;
}

.vscroll {
  overflow-y: auto; 
}