name: Test

on: [push, pull_request]

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v2
        with:
          node-version: 17

      - name: Install intial npm deps
        run: |
          npm install -g npm@latest
          npm install --legacy-peer-deps || exit 0

      - name: Install native modules
        run: |
          cd ./release/app
          DEBUG=electron-rebuild npm install --legacy-peer-deps

      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run package
          npm run lint
          npm exec tsc
          npm test
